.dropdown {
  position: absolute;
  top: 31px;
  /* transform: translateX(8); */
  transform: translateX(-8px);
  display: flex;
  flex-direction: column;
  /* background-color: white; */
  /* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; */
  /* height: 200px; */
  width: 150px;
  padding-top: 8px;
}

.dropdown button {
  /* border: 1px solid black; */
  background-color: white;
  border: none;
  height: 3rem;
  width: 100%;
  margin: 0;
  text-align: left;
  padding-left: 0.5rem;
}

.dropdown button:hover {
  background-color: #02a3c0;
  color: white;
}

.test {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}




.dropdownItem {
  background-color: white;
  /* margin: 0px; */
  display: block !important;
  height: 3rem;
  line-height: 3rem;
  text-align: left;
  padding-left: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  /* border: 1px solid black; */
}

.dropdownItem:hover {
  background-color: #02a3c0;
  color: white;
}

.dropdownSubmenu {
  /* position: absolute; */
  position: relative;
  /* top: 31px; */
  top: -56px;
  /* transform: translateX(-8px); */
  transform: translateX(142px);
  display: flex;
  flex-direction: column;
  width: 150px;
  padding-top: 8px;
}

.dropdownSubmenu button {
  background-color: white;
  border: none;
  height: 3rem;
  width: 100%;
  margin: 0;
  text-align: left;
  padding-left: 0.5rem;
}

.dropdownSubmenu button:hover {
  background-color: #02a3c0;
  color: white;
}
