.coffeeSlot {
  /* border: 1px solid white; */
  width: 100%;
  height: 100%;
  /* background-color: rgb(127,127,127); */
  //background-color: white;
  background: url("https://www.toptal.com/designers/subtlepatterns/patterns/webb.png");
  /* background-image: url('https://source.unsplash.com/PX1IrPsimHE');
  background-size: cover; */
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  position: relative;
  display: flex;
  justify-content: center;
}

.coffeeSlot::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.coffeeInfo {
  /* position: absolute; */
  /* top: 0; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;

  margin-top: 50px;
  transition-duration: 1s;
}

.coffeeName {
  font-size: 32px;
}

.coffeeOrigin {
  font-size: 18px;
}

.coffeeDescriptors {
  font-size: 14px;
  font-style: italic;
}

.coffeePrice {
  font-size: 18px;
}

.buttonDiv {
  opacity: 0;
  transition-duration: 0.2s;
}

.buttonDivHover {
  opacity: 100;
  transition-duration: 0.2s;
}

.infoHovered {
  /* transform: translateY(-30px); */
  margin-top: 0;
  gap: 1.5rem;
}

.slotHovered {
  background-image: url('https://source.unsplash.com/PX1IrPsimHE');
  background-size: cover;
  color: white;
}

.buttonDiv button {
  margin: 0.5rem 0.5rem 0 0.5rem;
}

.buttonDivHover button {
  margin: 0.5rem 0.5rem 0 0.5rem;
}