.page {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  margin-left: 14rem;
  width: calc(100% - 14rem);
  overflow: auto;
  /* border: 1px solid black; */
  height: 100vh;
}

.middleBlock {
  background: url("../../Images/pattern.png");
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  margin-top: 3.5rem;
  margin-bottom: 1rem;
  max-width: 700px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 5rem 2rem 5rem;
}

@media (max-width: 1300px) {
  .page {
    margin-left: 12rem;
    width: calc(100% - 12rem);
  }
}

@media (max-width: 1140px) {
  .page {
    margin-left: 10rem;
    width: calc(100% - 10rem);
  }
  .middleBlock {
    padding: 2rem 2rem 2rem 2rem;
  }
}

@media (max-width: 970px) {
  .page {
    margin-left: 0rem;
    width: 100%;
  }
}

@media (max-width: 700px) {
  .middleBlock {
    padding: 1rem 1rem 2rem 1rem;
  }
  .middleBlock h1 {
    font-size: 28px;
  }
}

@media (max-width: 450px) {
  .middleBlock {
    margin-top: 2.7rem;
  }
}
