.table {
  /* text-align: left; */

  /* margin: 4rem auto 2rem auto; */
  margin: 0rem auto 2rem auto;
  table-layout: fixed;
  /* width: 700px; */
  width: 100%;
  padding-left: 5rem;
  padding-right: 5rem;

  padding-top: 1rem;
  padding-bottom: 1rem;

  background: rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgb(173, 173, 173);
  border-bottom: 1px solid rgb(173, 173, 173);
}

@media (max-width: 700px) {
  .table {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (max-width: 640px) {
  .table {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (max-width: 500px) {
  .table {
    padding-left: 0rem;
    padding-right: 0rem;
    font-size: 14px;
  }
}

@media (max-width: 400px) {
  .table {
    font-size: 12px;
  }
}

.table thead th {
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* border-bottom: 1px solid black; */
}

.table tbody td {
  padding-bottom: 0.5rem;

  /* max-width: 120px; */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table thead th:nth-child(1) {
  width: 25%;
  text-align: left;
}

.table thead th:nth-child(2) {
  width: 25%;
  text-align: left;
}

.table thead th:nth-child(3) {
  width: 25%;
  text-align: left;
}

.table thead th:nth-child(4) {
  width: 15%;
  text-align: right;
}

.table thead th:nth-child(5) {
  width: 10%;
  text-align: right;
}

.table tbody td:nth-child(1) {
  text-align: left;
}

.table tbody td:nth-child(2) {
  text-align: left;
}

.table tbody td:nth-child(3) {
  text-align: left;
}

.table tbody td:nth-child(4) {
  text-align: right;
}

.table tbody td:nth-child(5) {
  text-align: right;
}

.icon:hover {
  color: #02a3c0;
}

.buttonDiv {
  text-align: right;
  margin-bottom: 1rem;
}
