.cartPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: auto;
}

.cartBlock {
  background: url("https://www.toptal.com/designers/subtlepatterns/patterns/webb.png");
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center;
  align-items: center; */
  margin-top: 3.5rem;
  margin-bottom: 1rem;

  /* height: 100%; */
  width: 700px;
  margin-left: auto;
  margin-right: auto;

  /* padding: 2rem; */
  /* padding-top: 2rem;
  padding-bottom: 2rem; */
  padding: 2rem 5rem 2rem 5rem;
}

.cartBlock table {
  margin: 4rem auto 2rem auto;
  table-layout: fixed;
  /* width: 700px; */
  width: 100%;
  padding-left: 5rem;
  padding-right: 5rem;

  padding-top: 1rem;
  padding-bottom: 1rem;

  background: rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgb(173, 173, 173);
  border-bottom: 1px solid rgb(173, 173, 173);
  /* border-left: 1px solid rgb(173, 173, 173);
  border-right: 1px solid rgb(173, 173, 173); */
}

.cartBlock thead th {
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* border-bottom: 1px solid black; */
}

.cartBlock tbody td {
  padding-bottom: 0.5rem;
}

.cartBlock tfoot * {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.cartBlock thead th:nth-child(1) {
  width: 50%;
  text-align: left;
}

.cartBlock thead th:nth-child(2) {
  width: 12.5%;
  text-align: right;
}

.cartBlock thead th:nth-child(3) {
  width: 22.5%;
  text-align: right;
}

.cartBlock  thead th:nth-child(4) {
  width: 22.5%;
  text-align: right;
}

.cartBlock  thead th:nth-child(5) {
  width: 12.5%;
  text-align: right;
}

.cartBlock  tbody td:nth-child(1) {
  text-align: left;
}

.cartBlock  tbody td:nth-child(2) {
  text-align: right;
}

.cartBlock  tbody td:nth-child(3) {
  text-align: right;
}

.cartBlock  tbody td:nth-child(4) {
  text-align: right;
}

.cartBlock  tbody td:nth-child(5) {
  text-align: right;
}

.cartBlock  tfoot th:nth-child(2) {
  text-align: right;
}

.cartBlock  tfoot td:nth-child(3) {
  text-align: right;
}

.cartButtons {
  text-align: right;
  /* padding-right: 3rem; */
  margin-bottom: 1rem;
}

.cartButtons button {
  width: 5rem;
  height: 1.7rem;
  border: none;
  border-radius: 2px;
  border: 1px solid black;
  margin-left: 0.5rem;
}

.deleteIcon {
  transform: scale(0.9);
}

.deleteIcon:hover {
  color: #C01F02;
}

.mainButton {
  background-color: #02a3c0;
  color: white;
}

.cartButtons button:hover {
  transform: scale(1.1);
}

.cartButtons button:active {
  transform: scale(1);
}