.cart {
  margin: 4rem auto 2rem auto;
  table-layout: fixed;
  /* width: 700px; */
  width: 100%;
  padding-left: 5rem;
  padding-right: 5rem;

  padding-top: 1rem;
  padding-bottom: 1rem;

  background: rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgb(173, 173, 173);
  border-bottom: 1px solid rgb(173, 173, 173);
  /* border-left: 1px solid rgb(173, 173, 173);
  border-right: 1px solid rgb(173, 173, 173); */
}

@media (max-width: 700px) {
  .cart {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (max-width: 540px) {
  .cart {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.cart thead th {
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* border-bottom: 1px solid black; */
}

.cart tbody td {
  padding-bottom: 0.5rem;
}

.cart tfoot * {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.cart thead th:nth-child(1) {
  width: 50%;
  text-align: left;
}

.cart thead th:nth-child(2) {
  width: 12.5%;
  text-align: right;
}

.cart thead th:nth-child(3) {
  width: 22.5%;
  text-align: right;
}

.cart thead th:nth-child(4) {
  width: 22.5%;
  text-align: right;
}

.cart thead th:nth-child(5) {
  width: 12.5%;
  text-align: right;
}

.cart tbody td:nth-child(1) {
  text-align: left;
}

.cart tbody td:nth-child(2) {
  text-align: right;
}

.cart tbody td:nth-child(3) {
  text-align: right;
}

.cart tbody td:nth-child(4) {
  text-align: right;
}

.cart tbody td:nth-child(5) {
  text-align: right;
}

.cart tfoot th:nth-child(2) {
  text-align: right;
}

.cart tfoot td:nth-child(3) {
  text-align: right;
}

.cartButtons {
  text-align: right;
  /* padding-right: 3rem; */
  margin-bottom: 1rem;
}

.deleteIcon {
  transform: scale(0.9);
}

.deleteIcon:hover {
  color: #c01f02;
}

@media (max-width: 480px) {
  .cart {
    padding-left: 0rem;
    padding-right: 0rem;
    /* font-size: 14px; */
  }
  .cart thead th:nth-child(1) {
    width: 30%;
    text-align: left;
  }
  .cart thead th:nth-child(2) {
    width: 17.5%;
    text-align: right;
  }
  .cart thead th:nth-child(3) {
    width: 27.5%;
    text-align: right;
  }
  .cart thead th:nth-child(4) {
    width: 27.5%;
    text-align: right;
  }
  .cart thead th:nth-child(5) {
    width: 17.5%;
    text-align: right;
  }
}

@media (max-width: 350px) {
  .cart {
    font-size: 14px;
  }
}
