html, body {
  height: 100%;
}

.App {
  text-align: center;
  /* background-color: #282c34; */
  /* background-color: #c1c1c1; */
  /* background-color: #D3D3D3; */
  background-color: #ededed;
  /* background-color: white; */
  height: 100vh;
  margin: 0;
  overflow: auto;
}
